	<section class="opening">
		<h1>What is Castle Raiders?</h1>
		<nav>
			<h2 class="hidden">Quick Nav</h2>
			<ul>
<li data-ng-repeat="homeNav in homeNavs">
<a data-scroll href="/#{{homeNav.path}}">{{homeNav.title}}</a>
</li>
			</ul>
		</nav>
	</section><!--opening-->

	<section class="containers" id="what">
			<h1>What is it?</h1>
		<div class="whatTextBox">
			<p>Castle Raiders is a 3D Side Scrolling game. This game is set in the Medieval Era. Evil skeletons have taken over you beloved castle. You must reclaim what is yours! There will be 3 levels to battle through, all having their own set of difficultie. What out for spikes! Players will be able to navigate through the castle with ease and equiped with BAD ASS weapons to take out your evil enemies. Some things you can expect to encounter are health, extra life, strength and speed potions, traps, spikes, enemies and plenty of moving platforms.</p>
		<img src="images/theWhat.jpg" alt="Game Play"/>
		</div>
		<a class="scrolls" data-scroll href="/#storyCon">
			<img class="nextIcon" src="images/arrow.png" alt="Next">
		</a>
	</section><!--what is it?!-->

	<div class="divider"></div>

	<section class="containers" id="storyCon">
			<h1>Story</h1>
			<p>Sandria, a world is that filled with magic, demons, monster, human. When an Ancient Magic Scroll inside the Castle of Zanark, has awaken from it seal. Opening a portal back the underworld. Skeletons has invaded the Castle of Zanark from the inside. Land of Zanark is threatened from within. Three Magical Warrior has been chosen by destiny to save the Land of Zanark and seal the Magic Scroll of the Underworld. The Battle has begun.</p>
		<img src="images/layouts/3.jpg" alt="">
		<a class="scrolls" data-scroll href="/#multiCon">
			<img class="nextIcon" src="images/arrow.png" alt="Next">
		</a>
	</section><!--story-->

	<div class="divider"></div>

	<section class="containers" id="multiCon">
			<h1>Multiplayer</h1>
			<p>Why take on the skeleton army alone when you can bring a fighter with you! Take them on, in numbers. The battle will be intense, you'll be glad to have a friend to help you crush skulls.</p>
		<img src="images/layouts/4.jpg" alt="">
		<button id="learnMore">Learn More</button>
		<a class="scrolls" data-scroll href="/#header">
			<img class="nextIcon" src="images/topArrow.png" alt="Next">
		</a>
	</section><!--Multiplayer-->