	<section class="opening">
		<h1>What is Castle Raiders?</h1>
		<nav>
			<h2 class="hidden">Quick Nav</h2>
			<ul>
<li data-ng-repeat="homeNav in homeNavs">
<a data-scroll href="/#{{homeNav.path}}">{{homeNav.title}}</a>
</li>
			</ul>
		</nav>
	</section><!--opening-->

	<section class="containers" id="what">
			<h1>What is it?</h1>
		<div class="whatTextBox">
			<p>Castle Raiders is a 3D Side Scrolling game. This game is set in the Medieval Era. Evil skeletons have taken over your beloved castle. You must reclaim what is yours! There will be 3 levels to battle through, all having their own set of difficulties. Watch out for spikes! Players will be able to navigate through the castle with ease and will be equipped with LEGENDARY weapons to strikemthe enemies. Some things you can expect to encounter are health, extra life, strength and speed potions, traps, spikes, enemies and plenty of moving platforms.</p>
		<img src="images/theWhat.jpg" alt="Game Play"/>
		</div>
		<a class="scrolls" data-scroll href="/#storyCon">
			<div>
				<object data="images/arrow.svg">
					<img src="images/arrow.png">
				</object>
			</div>
		</a>
	</section><!--what is it?!-->

	<div class="divider"></div>

	<section class="containers" id="storyCon">
			<h1>Epic Story</h1>
			<p>Sandria, is a world that is filled with magic, demons, monsters, and humans. When an ancient magic scroll inside the Castle of Zanark has awaken from it’s seal, it opens a portal to the Underworld. Skeletons have now come and invaded the Castle of Zanark from the inside. The castle is being threatened from within. Three magical warriors have been chosen by destiny to save the Land of Zanark and seal the magic scroll of the Underworld. The battle has begun!</p>
		<img src="images/layouts/3.jpg" alt="">
		<a class="scrolls" data-scroll href="/.opening">
			<div>
				<object data="images/topArrow.svg">
					<img src="images/topArrow.png">
				</object>
			</div>
		</a>
	</section><!--story-->