<section class="opening">
	<h1>Game Story</h1>

	<div class="gameButtons storyButtons">
		<button class="concepts" ng-click="toshow = 1">Concepts</button>
		<button class="prologue" ng-click="toshow = 2">Prologue</button>
	</div>

</section>

<section id="gameStoryCon">
	<h2 class="hidden">Concepts</h2>
	<div class="animateCon">
		<div class="animate" ng-show="toshow == 1">
			<h3>Concepts</h3>
			<ul>
				<li>Castle Level</li>
				<li>Knights &amp; Guards are the Heroes</li>
				<li>Skeletons have taken over the Castle</li>
				<li>3D Side Scrolling Game</li>
			</ul>
			<p>The Game takes place in a Fantasy World inside of a Castle / Dungeon setting.</p>
		</div>

		<div class="animate" ng-show="toshow == 2">
			<h3>Prologue</h3>
			<p>Sandria has long been known for wars between demons and humans. However mankind has been blessed by protectors, the magic warriors from the High Summoners of Mechluca. The magic warriors are the defenders of Sandria, protecting humans from harm. The land of Mechluca was known for it’s magic, evil dark arts, and skilled warriors &amp; wizards. Lord Hope, a defect of the High Summoners, started creating evil dark magic and destroying lands &amp; castles with his minions. High Summoners of Mechluca and their magic warriors took charge and gathered an army to defeat Lord Hope from his evil plans of destroying the world. The war took over 10 years but now the warriors have once again sealed the magic scroll and defeated Lord Hope. They gave the magic scroll to the Castle of Zanark, where they hid it inside the lowest of their dungeons. The war has not finished yet.</p>
		</div>
	</div>
</section>